@using Internet_shop_practic.Models
@model IEnumerable<Product>
@{
    ViewBag.Title = "товар";
}
<body>
    <h2>Весь товар</h2>
    @{
        foreach (var Product in Model)
        {
            <div>
                <h2>Товар: @Product.Name</h2>
                <p> Id товара:@Product.Id</p>
            </div>
        }
    }
    @Html.ActionLink("Жми здесь", "PIndex", "Home")
</body>

