@using Internet_shop_practic.Models


@{ 
    Order order = new Order();
    string[] errormessage = new string[5];
}
@{
    ViewBag.Title = "товар";
}
<body>
    <h2>Весь товар</h2>
    <form method="post">
        @{

            <div>

                        <p>
                            <label>Имя</label><br />
                            <input type="text" name="Address" value=@order.Address />
                            <span type="text" name="errormessage" value=@errormessage[1] />\
                            <table class="table">
                                <tr><td>@order.Address</td></tr>
                            </table>
                        </p>
                <p>
                    <label>Фамилия</label><br />
                    <input type="text" name="Lname" value=@order.Product  />
                </p>

            </div>

            }

            <p>
                <input type="submit" value="Отправить" />
            </p>
        </form>
</body>

